<div class="row">
  <div class="col-lg-6">
    <h2>Le super titre de la plate-forme</h2>
    <p>Les grands principes de la plate-forme :</p>
    <ul>
      <li>Facile d'accès</li>
      <li>Aucun frais</li>
      <li>Faite avec le coeur</li>
      <li>Des tonnes d'évènements inédits !</li>
      <li>
        <strong>Se bouger les fesses !</strong>
      </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    <%= link_to "Soumettre un évènement", new_event_path, :class =>"btn btn-primary btn-lg btn-block" %>
  </div>
  <div class="col-lg-6 d-flex justify-content-end">
    <%= image_tag src="https://thispersondoesnotexist.com/image", class: "img-fluid rounded",size: "340x700", alt: '' %>
  </div>
</div>
