  <body>
  <!-- Page Content -->
  <div class="container p-0">
    <h1 class="my-4">Bienvenue manant !</h1>
    <!-- Features Section -->
    <%= render 'events/banner'%>
    <!-- Events Section -->
    <%= render 'shared/events_list'%>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
